* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    height: 60px;
}

.navbar {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    background-color: #b1f0f2;
}

.navbar ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
}

.navbar ul li {
    margin-left: 15px;
}

.navbar ul li a {
    color: black;
}
.link{
      font-size: 18px;
  border: none;
  border-radius: 22px;
  margin-left: 16px;
  color: black;
  background-color: #F2F3F4;
  padding: 16px;
}
.link:hover{
    background-color: darkred ;
    border-radius: 22px;
  margin-left: 16px;
  color: black;
  
  padding: 16px;

}



.user{
      font-size: 18px;
  border: none;
  border-radius: 22px;
  margin-left: 16px;
  color: black;
  background-color: #F2F3F4;
  padding: 16px;
}
.user:hover{
    background-color: darkred ;
}


}
.fa-bars{
font-family: "Font Awesome 6 Free";
font-weight: 900;
padding: 13px;
border-radius: 19px;
margin: 16px;
}

.fa-bars:hover{
font-family: "Font Awesome 6 Free";
font-weight: 900;
padding: 15px;
border-radius: 21px;
background-color: #00FF00;



}

.circle-shadow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-shadow:hover {
    background-color: rgba(0, 0, 0, 0.15) , rgba(255, 255, 255, .7);
}

.menu-icon,
.user-icon span {
    font-size: 18px;
}

.user-icon span {
    color: white;
}

.user-icon {
    background-color: #EF6C00;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

/* Content */
.content-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.logo-img {
    width: 300px;
    margin-bottom: 20px;
}

.search-bar {
    border: 1px solid lightgray;
    width: 600px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.search-bar:hover {
    box-shadow: 0px 0px 4px 0px #B5B5B5;
}

.search-bar i {
    font-size: 18px;
    color: gray;
    margin-right: 15px;
    cursor: pointer;
}

.search-bar input {
    flex-grow: 1;
    height: 30px;
    margin-right: 15px;
    font-size: 16px;
    border: none;
}

.search-bar input:focus {
    outline: none;
}

.search-btns {
    margin-top: 20px;
}

.search-btns button {
    height: 40px;
font-size: 14px;
border: none;
border-radius: 24px;
margin-left: 20px;
color: black;
padding: 12px;
    background-color: #F2F3F4;
}

.search-btns button:hover {
    height: 40px;
font-size: 14px;
border: none;
border-radius: 24px;
margin-left: 20px;
color: white;
padding: 12px;
background-color: #000000;
    }

.google-search-btn {
     height: 40px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    color: black;
    background-color: #F2F3F4;

  
}

.lucky-search-btn {
    width: 140px;
}

.language {
    margin-top: 20px;
    font-size: 14px;
}

.language p a {
    color: blue;
}

.language p a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #F2F2F2;
    height: 100px;
}

.footer-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.upper-footer {
    height: 50%;
    border-bottom: 1px solid lightgray;
    background-color: black;
}

.upper-footer p {
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    padding:  7px 30px;

}

.upper-footer p:hover{
    color: lawngreen;
background-color: red;
border-radius: 12px;
padding: 7px 30px;
}

.lower-footer {
    height: 50%;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.lower-footer ul li a {
   color: white;
    font-size: 14px;
    font-family: sans-serif;
border-radius: 12px;
padding: 7px 30px;

}

.lower-footer ul li a:hover {
   /*text-decoration: underline;*/
color: lawngreen;
background-color: red;
border-radius: 12px;
padding: 7px 30px;
}

.lower-left-footer {
    display: flex;
}

.lower-left-footer li {
    margin-right: 15px;
}


.lower-right-footer {
    display: flex;
}

.lower-right-footer li {
    margin-left: 15px;
}

/* Mobile and Tablet */
@media only screen and (max-width: 650px) {
    /* Navbar */
    .navbar ul {
        font-size: 10px;
    }

    .menu-icon,
    .user-icon span {
        font-size: 14px;
    }

    .circle-shadow {
        height: 30px;
        width: 30px;
    }

    /* Logo */
    .logo-img {
        width: 200px;
    }

    /* Search Bar */
    .search-bar {
        width: 90%;
        height: 35px;
    }

    .search-bar i {
        font-size: 14px;
    }

    /* Buttons */
    .search-btns button {
        height: 30px;
        font-size: 12px;
    }

    .google-search-btn {
        width: 100px;
    }
    
    .lucky-search-btn {
        width: 120px;
    }

    /* Language */
    .language {
        font-size: 12px;
    }

    /* Footer */
    .footer {
        height: 150px;
        display:block ;
        background-color: blue;
    }

    .upper-footer {
        height: 50px;
        display: block;
    }

    .lower-footer {
        height: 100px;
        flex-direction: column;
    }

    .lower-left-footer {
        flex-wrap: wrap;
    }
}
.image{
    padding-right: 3px;
}

.bookmarks{
width: 100%;
background-color: #e6eae3;
display: flex;
align-items: center;
justify-content: center;
height: auto;
padding: 20px;
}

.col-md-4{ 
display: flex;
align-items: center;
justify-content: center;
text-align: center;
flex-wrap: wrap;
width: 346px;
flex-direction: row;
background: #13dbe6;
justify-content: center;
border-radius: 60px;
padding: 7px;
     }

     .col-md-4 div{
display: flex;
padding: 24px;
border: 1px solid azure;
border-radius: 50%;
width: 88px;
flex-direction: column;
align-items: center;
justify-content: center;
background: azure;
color: black;
font-size: 17px;
margin: 3px 2px;
     }

      .col-md-4 div:hover{
     color: white;
background: #000000a6;
border: none;
box-shadow: 0px 5px 10px white;
      }